GEMINI_API_KEY=buraya_gemini_api_anahtarinizi_yazin
GEMINI_MODEL=gemini-3.8-flash

NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_LOG_LEVEL=debug

# Auth.js Gizli Anahtarı 
AUTH_SECRET=""

# Google OAuth Kimlik Bilgileri 
AUTH_GOOGLE_ID="google_client_id_buraya_gelecek"
AUTH_GOOGLE_SECRET="google_client_secret_buraya_gelecek"

# Veritabanı Bağlantısı 
DATABASE_URL="postgresql://kullanici_adi:sifre@localhost:5432/tryfinally_db"